textarea {
    resize: none;
    font-size: 14px !important;
}

textarea::placeholder {
    font-size: 14px;
}

.card{
	width: 500px;
	border: none;
	border-radius: 15px !important;
}

.adiv{
	border-radius: 15px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	height: 62px;
}

.chat{
	border: none;
	background: #bcedff;
	font-size: 10px;
	border-radius: 20px;
}

.bg-white{
	border: 1px solid #E7E7E9;
	font-size: 10px;
	border-radius: 20px;
}

.myvideo img{
	border-radius: 20px
}

.dot{
	font-weight: bold;
}

.message {
    position: relative;
}

.message-btn {
    position: absolute;
    bottom: 20px;
    right: 30px;
    border: none;
    background-color: transparent;
}