.ad {
    height: 500px;
}

.ad.container {
    margin-top: 40px;
}

#carouselExampleIndicators,
#carouselExampleIndicators > .carousel-inner,
#carouselExampleIndicators > .carousel-inner > .carousel-item {
    height: 100%;
}

#carouselExampleIndicators > .carousel-inner > .carousel-item > img {
    height: 100%;
    object-fit: cover;
}

.link-box {
    text-align: right;
    margin-top: 20px;
}

.py-5 {
    padding-bottom: 1.5rem !important;
}