<!DOCTYPE html>
<html>
  <head>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <style>
      /* html,
      body {
        width: 100%;
        height: 100%;
        margin: 0;
      } */
      .container {
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
      }
    </style>
  </head>
  <body>
    <div class="spinning">
      <i class="fas fa-spinner fa-10x fa-spin"></i>
    </div>
  </body>
</html>
