<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" defer></script>
    <link rel="stylesheet" href="../resource/css/counsel.css">
    <link href="../resource/css/footer.css" rel="stylesheet">
    <link href="../resource/css//headers.css" rel="stylesheet">
</head>
<body>
    <!-- header -->
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>
            </div>
        </div>
    </header>
    <!-- main -->
    <div class="counseldiv">
        <a href="">연관키워드</a>
        <a href="">재산분할</a>
        <a href="">상속재산분할</a>
        <a href="">유류분</a>
        <a href="">성년후견인</a>
        <a href="">한정승인</a>
        <a href="">상속포기</a>
        <a href="">증여세</a>
        <a href="">특별한정승인</a>
        <a href="">상속세</a>
        <a href="">전체보기</a>
    </div>
    <div class="counseldiv2">
        <table class="counseltable">
            <h3>상담사례</h3>
            <hr>
            <tr class="counseltr"> 
                <td><a href="">정확도순</a></td>
                <td><a href="">최신 답변순</a></td>
                <td><a href="">최신 질문순</a></td>
                <td><a href="">조회수</a></td>
            </tr>
        </table>
        <hr>
    </div>
    <div class="counselfooter">
        <div class="footer-container">
            <footer class="py-3 my-4">
                <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
                </ul>
                <p class="text-center text-muted">&copy; 2022 Company, Inc</p>
            </footer>
        </div>
    </div>
</body>
</html>