<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      defer
    ></script>
    <link rel="stylesheet" href="../resource/css/productDetailPage.css" />
    <link href="../resource/css/footer.css" rel="stylesheet" />
    <link href="../resource/css//headers.css" rel="stylesheet" />
  </head>
  <body>
    <!-- header -->
    <header class="p-3 text-bg-dark">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
          <a
            href="/"
            class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
          >
            <svg
              class="bi me-2"
              width="40"
              height="32"
              role="img"
              aria-label="Bootstrap"
            >
              <use xlink:href="#bootstrap" />
            </svg>
          </a>

          <ul
            class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
          >
            <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
            <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
            <li><a href="#" class="nav-link px-2 text-white">About</a></li>
          </ul>
        </div>
      </div>
    </header>

    <!-- main -->
    <div class="productDetailPage1">
      <h1>[의료, 형사전문 변호사]친절함과 실력으로 답하겠습니다</h1>
      <div class="productDetailDiv">
        <table>
          <tr>
            <td>김준성 변호사</td>
            <td>후기 50+개</td>
          </tr>
          <tr>
            <td>법무법인 공명</td>
          </tr>
          <tr>
            <td>서울특별시 서초구 서초중앙로 116 (서초동)</td>
          </tr>
          <tr>
            <td>성재빌딩 7층, 법무법인 공명</td>
          </tr>
          <tr>
            <td>사무실 전화</td>
            <td>050-7725-2537</td>
          </tr>
        </table>
        <table>
          <tr>
            <td>분야</td>
            <td>
              이혼, 명예훼손/모욕 일반, 성폭력/강제추행 등, 의료/식품의약, 기타
              재산범죄
            </td>
          </tr>
          <tr>
            <td>경력</td>
            <td>법무법인 공명 파트너변호사</td>
          </tr>
          <tr>
            <td>자격</td>
            <td>2014년 변호사자격 취득</td>
          </tr>
          <tr>
            <td>가격</td>
            <td>가격정보 3개</td>
          </tr>
        </table>
      </div>
      <hr />
      <div class="productDetailDiv">
        <table>
          <tr>
            <td>
              <img
                src="../resource/img/heart-g98e2e4818_640.png"
                alt=""
                width="100px"
                height="100px"
              />
            </td>
            <td>
              <img
                src="../resource/img/icon-g8eb1683d0_640.png"
                alt=""
                width="100px"
                height="100px"
              />
            </td>
            <td>
              <img
                src="../resource/img/law-ge43439866_640.png"
                alt=""
                width="100px"
                height="100px"
              />
            </td>
          </tr>
          <tr>
            <td>
              <img
                src="../resource/img/paragraph-g97f0a4da9_640.jpg"
                alt=""
                width="100px"
                height="100px"
              />
            </td>
            <td>
              <img
                src="../resource/img/scales-g490cc4998_640.jpg"
                alt=""
                width="100px"
                height="100px"
              />
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td>
              김준성 변호사님은 대한변호사협회 의료, 형사법 전문분야 등록을<br />
              하였고 대형 로펌, 국선변호인, 공직(정부/지자체) 근무 경험을
              보유한<br />
              변호사입니다.
            </td>
          </tr>
        </table>
      </div>
      <hr />
      <div>
        <table>
          <tr>
            <td>
              <img
                src="../resource/img/scales-g490cc4998_640.jpg"
                alt=""
                width="100px"
                height="100px"
              />
            </td>
            <td>
              <img
                src="../resource/img/scales-g490cc4998_640.jpg"
                alt=""
                width="100px"
                height="100px"
              />
            </td>
            <td>
              <img
                src="../resource/img/scales-g490cc4998_640.jpg"
                alt=""
                width="100px"
                height="100px"
              />
            </td>
            <td>
              <img
                src="../resource/img/scales-g490cc4998_640.jpg"
                alt=""
                width="100px"
                height="100px"
              />
            </td>
          </tr>
        </table>
      </div>
      <br />
      <div>
        <table>
          <tr aria-rowspan="3">
            <td>김준성 변호사의 법률 활동을 확인하세요.</td>
          </tr>
          <tr aria-rowspan="3">
            <td><a href="">해결사례</a></td>
          </tr>
          <tr>
            <td>
              <a href="">
                <img
                  src="../resource/img/eight4-1.jpg"
                  alt=""
                  width="100px"
                  height="100px"
                />
                <br />
                대여금 청구소송:<전부승소> <br />
                전부승소
              </a>
            </td>
            <td>
              <a href="">
                <img
                  src="../resource/img/eight4-1.jpg"
                  alt=""
                  width="100px"
                  height="100px"
                />
                <br />
                대여금 청구소송:<전부승소> <br />
                전부승소
              </a>
            </td>
            <td>
              <a href="">
                <img
                  src="../resource/img/eight4-1.jpg"
                  alt=""
                  width="100px"
                  height="100px"
                />
                <br />
                대여금 청구소송:<전부승소> <br />
                전부승소
              </a>
            </td>
          </tr>
        </table>
      </div>
      <br />
      <div>
        <table></table>
      </div>
    </div>
    <div class="productDetailPage1">
      <img
        src="../resource//img/eight5.jpg"
        alt=""
        width="10px"
        height="10px"
      />
    </div>
    <hr />
    <!-- footer -->
    <div class="footer-container">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted">Home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted">Features</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted">Pricing</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted">FAQs</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted">About</a>
          </li>
        </ul>
        <p class="text-center text-muted">&copy; 2022 Company, Inc</p>
      </footer>
    </div>
  </body>
</html>
