<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      defer
    ></script>
    <link rel="stylesheet" href="../resource/css/productDetailPage.css" />
    <link href="../resource/css/footer.css" rel="stylesheet" />
    <link href="../resource/css//headers.css" rel="stylesheet" />
  </head>
  <body>
    <!-- header -->
    <header class="p-3 text-bg-dark">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
          <a
            href="/"
            class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
          >
            <svg
              class="bi me-2"
              width="40"
              height="32"
              role="img"
              aria-label="Bootstrap"
            >
              <use xlink:href="#bootstrap" />
            </svg>
          </a>

          <ul
            class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
          >
            <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
            <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
            <li><a href="#" class="nav-link px-2 text-white">About</a></li>
          </ul>
        </div>
      </div>
    </header>

    <!-- main -->
    <div class="productDetailPage" align="center">
      <h1>[의료, 형사전문 변호사]친절함과 실력으로 <br> 답하겠습니다</h1>
      <div class="productDetailDiv" align = "center">
        <table class="productDetailPagetable">
          <tr >
            <td style="font-size: 20px; font-weight: bold;">김준성 변호사(<u>후기 50+개</u>)</td>
          </tr>
          <tr>
            <td>법무법인 공명</td>
          </tr>
          <tr aria-rowspan="2">
            <td>
              서울특별시 서초구 서초중앙로 116 (서초동) <br>
              성재빌딩 7층, 법무법인 공명
            </td>
          </tr>
          <tr aria-colspan="2">
            <td><b>사무실전화 050-7725-2537</b></td>
          </tr>
        </table>
        <table class="productDetailPagetable1">
          <tr>
            <td><b>분야&nbsp;&nbsp;</b></td>
            <td>
              이혼, 명예훼손/모욕 일반,<br> 성폭력/강제추행 등<br>
              의료/식품의약, 기타재산범죄
            </td>
          </tr>
          <tr>
            <td><b>경력</b></td>
            <td>법무법인 공명 파트너변호사</td>
          </tr>
          <tr>
            <td><b>자격</b></td>
            <td>2014년 변호사자격 취득</td>
          </tr>
          <tr>
            <td><b>가격</b></td>
            <td>가격정보 3개</td>
          </tr>
        </table>
      </div>
      <hr />
      <div class="productDetailDiv">
        <table class="productDetailPagetable2">
          <tr>
            <td>
              <img
                src="../resource/img/heart-g98e2e4818_640.png"
                alt=""
                width="60px"
                height="60px"
              />
            </td>
            <td>
              <img
                src="../resource/img/icon-g8eb1683d0_640.png"
                alt=""
                width="60px"
                height="60px"
              />
            </td>
            <td>
              <img
                src="../resource/img/law-ge43439866_640.png"
                alt=""
                width="60px"
                height="60px"
              />
            </td>
          </tr>
          <tr>
            <td>
              <img
                src="../resource/img/paragraph-g97f0a4da9_640.jpg"
                alt=""
                width="60px"
                height="60px"
              />
            </td>
            <td>
              <img
                src="../resource/img/scales-g490cc4998_640.jpg"
                alt=""
                width="60px"
                height="60px"
              />
            </td>
          </tr>
        </table>
        <table class="productDetailPagetable3">
          <tr>
            <td>
              김준성 변호사님은 대한변호사협회 <b>의료, 형사법 전문분야 등록</b>을
              하였고 <b>대형 로펌, 국선변호인, 공직(정부/지자체) 근무 경험</b>을
              보유한
              변호사입니다.
            </td>
          </tr>
        </table>
      </div>
      <hr />
      <div>
        <table class="productDetailPagetable4" align="center">
          <tr>
            <td>
              <img src="../resource/img/icon-g8eb1683d0_640.png" alt="" width="100px" height="100px">
            </td>
            <td>
              <img src="../resource/img/icon-g8eb1683d0_640.png" alt="" width="100px" height="100px">
            </td>
            <td>
              <img src="../resource/img/icon-g8eb1683d0_640.png" alt="" width="100px" height="100px">
            </td>
            <td>
              <img src="../resource/img/icon-g8eb1683d0_640.png" alt="" width="100px" height="100px">
            </td>
          </tr>
          <tr>
            <td>해결사례를 10건 이상 보유했어요.</td>
            <td>해결사례를 10건 이상 보유했어요.</td>
            <td>해결사례를 10건 이상 보유했어요.</td>
            <td>해결사례를 10건 이상 보유했어요.</td>
          </tr>
        </table>
      </div>
      <hr />
      <div class="divproductDetailPagetable5">
        <table class="productDetailPagetable5">
          <tr aria-rowspan="3" >
            <td style="font-size: 30px;">김준성 변호사의 법률 활동을<br> 확인하세요.</td>
          </tr>
          <tr aria-rowspan="3">
            <td ><a href="" style="font-size: 25px;">해결사례&nbsp;></a></td>
          </tr>
        </table>
      </div>
      <div>
        <table class="productDetailPagetable6">
          <tr>
            <td>
              <a href="">
                <img
                  src="../resource/img/eight4-1.jpg"
                  alt=""
                  width="100px"
                  height="100px"
                />
                <br /><br />
                대여금 청구소송:<전부승소> <br />
                전부승소
                <br /><br />
                <b>징역형, 합의금 2억</b>
              </a>
            </td>
            <td>
              <a href="">
                <img
                  src="../resource/img/eight4-1.jpg"
                  alt=""
                  width="100px"
                  height="100px"
                />
                <br /><br />
                대여금 청구소송:<전부승소> <br />
                전부승소
                <br /><br />
                <b>징역형, 합의금 2억</b>
              </a>
            </td>
            <td>
              <a href="">
                <img
                  src="../resource/img/eight4-1.jpg"
                  alt=""
                  width="100px"
                  height="100px"
                />
                <br /><br />
                대여금 청구소송:<전부승소> <br />
                전부승소
                <br /><br />
                <b>징역형, 합의금 2억</b>
              </a>
            </td>
          </tr>
        </table>
      </div>
      <hr />
      <div class="divproductDetailPagetable7">
        <a href="" style="font-size: 30px;">상담사례&nbsp;></a>
        <table class="productDetailPagetable7">
          <tr>
            <td>
              <a href="">통매음고소<br><br><input type="text"><br><br>4일전 </a>
            </td>
            <td>
              <a href="">통매음고소<br><br><input type="text"><br><br>4일전 </a>
            </td>
            <td>
              <a href="">통매음고소<br><br><input type="text"><br><br>4일전</a>
            </td>
          </tr>
        </table>
        <a href="" style="font-size: 20px;">법률사례 전체보기&nbsp;→ </a>
      </div>
      <hr />
      <div class="divproductDetailPagetable8">
        <h2>나와 맞는 변호사인지<br> 알아보세요</h2><br>
        <h6>변호사에 대한 표현으로 자주 선택된 키워드예요.</h6><br>
          <div class="divproductDetailPagetable8in">
            <table class="divproductDetailPagetable8in1">
              <tr>
                의뢰인들은 김준성 변호사를 냉철하게 판단하는<br> 변호사라고 응답했어요
              </tr>
            </table>
            <table class="divproductDetailPagetable8in2">
              <tr>
                냉철하게 판단하는 -------- 19%<br><br>
                명쾌하게 진단하는 -------- 15%<br><br>
                쉽고 친절히 설명하는 -------- 14%<br><br>
              </tr>
            </table>
          </div>
          <br>
        <a href="" style="font-size: 20px;">후기 전체보기&nbsp;→</a>
      </div>
      <hr />
      <div class="divproductDetailPagetable9">
        <h3>
          상담을 진행하고<br />
          문제를 해결하세요.
        </h3>
        <div class="productDetailPagetable9">
          <div>
            <h6>빠르고<br />부담없이<br />상담하고<br />싶을 때</h6>
          </div>
          <div>
            방문상담<br />시간당 3만 원
          </div>
          <div>
            <img src="../resource/img/예약하기.png" alt="" width="60px" height="60px"/>
          </div>
        </div>
        <div class="productDetailPagetable9">
          <div>
            <h6>빠르고<br />부담없이<br />상담하고<br />싶을 때</h6>
          </div>
          <div>
            방문상담<br />시간당 3만 원
          </div>
          <div>
            <img src="../resource/img/예약하기.png" alt="" width="60px" height="60px"/>
          </div>
        </div>
      </div>
      <hr>
      <div class="divproductDetailPagetable10">
        <h3>법률사무소에 오셔서 <br>문제를 해결하세요.</h3><br>
        <h4>
          법무법인 공명<br />
          서울특별시 서초구 서초중앙로 116 (서초동) 성재빌딩 7층, 법무법인 공명
        </h4>
        <br>
        <img src="../resource/img/네모.png" alt="" height="158" width="800" />
        <!-- 지도 -->
      </div>
      <hr />
    </div>

    <!-- 오른쪽 고정이미지 -->
    <div class="productDetailPage1">
      <img
        src="../resource//img/eight5.jpg"
        alt=""
        width="500px"
        height="800px"
      />
    </div>
    
    <!-- footer -->
    <div class="footer-container">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted">Home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted">Features</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted">Pricing</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted">FAQs</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted">About</a>
          </li>
        </ul>
        <p class="text-center text-muted">&copy; 2022 Company, Inc</p>
      </footer>
    </div>
  </body>
</html>
